.advantages {
  background-color: #b5e1ee;
  // color: $darkBlue;

  &__heading {
    color: $darkBlue;
    font-weight: bold;
    padding: 50px 0 0;
    margin: 0 0 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 0 90px;
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 2px #00579c;
    padding: 20px;
    border-radius: 10px;
    @media (max-width: 600px) {
      flex-direction: column-reverse;
      padding: 15px 10px;
    }
  }

  &__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40%;
    // img {
    //   max-width: 250px;
    //   border-radius: 5px;
    //   @media (max-width: $mobile) {
    //     max-width: 150px;
    //   }
    // }
  }
  &__img {
    max-width: 250px;
    border-radius: 5px;
    @media (max-width: $mobile) {
      max-width: 150px;
    }
  }
  &__item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 60%;
    font-family: PTSansNarrow, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    @media (max-width: 600px) {
      padding: 0 0 10px;
    }
  }
  &__item-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24pxpx;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 30px;
    @media (max-width: 600px) {
      margin: 0 0 10px;
    }
  }
}

.row-reverse {
  flex-direction: row-reverse;
  @media (max-width: 600px) {
    flex-direction: column-reverse;
  }
}
