@font-face {
	font-family: ArnoPro;
	font-display: swap;
	src: url("../fonts/ArnoPro-SmbdDisplay.woff2") format("woff2"), url("../fonts/ArnoPro-SmbdDisplay.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ArnoPro;
	font-display: swap;
	src: url("../fonts/ArnoPro-SmbdSmText.woff2") format("woff2"), url("../fonts/ArnoPro-SmbdSmText.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: ArnoPro;
	font-display: swap;
	src: url("../fonts/ArnoPro-SmText.woff2") format("woff2"), url("../fonts/ArnoPro-SmText.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	font-display: swap;
	src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
