@font-face {
	font-family: arnopro_boldcaption;
	font-display: swap;
	src: url("../fonts/arnopro_boldcaption.woff2") format("woff2"), url("../fonts/arnopro_boldcaption.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro_medium;
	font-display: swap;
	src: url("../fonts/gothampro_medium.woff2") format("woff2"), url("../fonts/gothampro_medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
