.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 100vh;
  @media (max-width: $mobile) {
    height: 100%;
  }
  &__container {
    display: flex;
    flex-direction: row;
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__content {
    flex: 1 1 50%;
    margin: 308px 0 0 0;
    padding: 0 55px 0 0;
    @media (max-width: $tablet) {
      margin: 290px 0 0 0;
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 100%;

      margin: 0;
      padding: 0;
    }
  }
  &__heading {
    font-family: ArnoPro-SmbdSmText;
    letter-spacing: normal;
    @include adaptiveValue("font-size", 60, 36);
    @include adaptiveValue("line-height", 80, 46);
    color: #0c6185;
    margin: 0 0 40px 0;
    max-width: 550px;
    span {
      color: #30b7a7;
    }
    @media (max-width: $tablet) {
      max-width: 340px;
      margin: 0 0 31px 0;
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__body {
    font-family: GothamPro;
    letter-spacing: normal;
    @include adaptiveValue("font-size", 23, 14);
    @include adaptiveValue("line-height", 38, 24);
    max-width: 600px;
    margin: 0 0 40px 0;
    @media (max-width: $tablet) {
      max-width: 500px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__btns {
    display: flex;
    gap: 23px;
  }

  &__img {
    flex: 1 1 50%;
    margin: 170px 0 52px 0;
    max-width: 490px;
    @media (max-width: $tablet) {
      max-width: 370px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      margin: 93px 0 46px 0;
      max-width: 300px;
    }
  }
}
