.blog {
    padding-top: 150px;
    padding-bottom: 100px;

    // .blog__container
    &__container {
    }

    // .blog__content
    &__content {
    }

    &__heading {

    }
}
//====================================================================================================

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    // .articles__item
    &__item {
        width: calc(50% - 20px);

        @media (max-width:$mobile){
             width: 100%; 
        }
    }
}
//====================================================================================================

.article-card {
    background: #fff;
    color: $darkBlue;
    font-family: $fontFamily, sans-serif;
    border-radius: 10px;
    overflow: hidden;

    // .article-card__img
    &__img {
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 20px;

        a {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;
            z-index: 1;
            overflow: hidden;
        }

        img {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            z-index: 1;
            transition: all .35s ease;

            @media (any-hover: hover) {
                &:hover {
                  transform: scale(1.1);
                }
            }
        }
    }

    &__content {
        padding: 10px 15px 20px 15px;
    }

    // .article-card__title
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
        transition: all 0.3s ease-in;
        
        @media (any-hover: hover) {
            &:hover {
              opacity: 0.7;
            }
        }

        a {
            outline: none;
            border-radius: 3px;
            transition: all 0.3s ease-in;

            @media (any-hover: hover) {
                &:hover {
                  text-decoration: underline;
                }
            }

            &:focus-visible,
            &:active {
                box-shadow: rgba(38, 86, 148, 0.16) 0px 1px 4px,
                rgb(38, 86, 148) 0px 0px 0px 1px;
            }
        }
    }

    // .article-card__text
    &__text {
        margin-bottom: 14px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    // .article-card__block
    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        @media (max-width: em(376)){
            flex-direction: column;  
            gap: 8px;
        }
    }

    // .article-card__category
    &__category {

        a {
            outline: none;
            border-radius: 3px;
            transition: all 0.3s ease-in;

            @media (any-hover: hover) {
                &:hover {
                  text-decoration: underline;
                }
            }

            &:focus-visible,
            &:active {
                box-shadow: rgba(38, 86, 148, 0.16) 0px 1px 4px,
                rgb(38, 86, 148) 0px 0px 0px 1px;
            }
        }
    }

    // .article-card__date
    &__date {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            fill: $darkBlue;
        }
    }

    &__btn {
        max-width: 152px;
        border-radius: 10px;

        @media (any-hover: hover) {
            &:hover {
                border-color: #656872;
                background: #656872;
            }
        }
    }
}
