//====================================================================================================
.blog {
  position: relative;
  padding-top: 100px;
  padding-bottom: 120px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  // .blog__container
  &__container {
    position: relative;
    z-index: 1;
  }

  // .blog__subheading
  &__subheading {
    font-family: ArnoPro-SmText;
    color: #54a497;
    @include adaptiveValue("font-size", 20, 16);
    line-height: normal;
    margin: 0 0 17px 0;
    text-align: center;
    text-transform: uppercase;
  }

  // .blog__heading
  &__heading {
    font-family: ArnoPro-SmbdDisplay, sans-serif;
    color: #0e608c;
    margin: 0 0 12px 0;
    line-height: normal;
    @include adaptiveValue("font-size", 55, 36);
    text-align: center;
  }

  // .blog__posts
  &__posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
  }

  &__view {
    text-align: center;
    margin-top: rem(60);
  }

  &__all-btn {
    @media (max-width: $mobile) {
      padding: 16px 49px;
    }
  }
}

//====================================================================================================
.post {
  width: calc(100% / 3 - 16px);
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  @media (max-width: $mobile) {
    width: calc(100% / 2 - 12px);
    margin: 0 auto;
  }

  @media (max-width: $mobileSmall) {
    width: 100%;
  }

  // .post__img
  &__img {
    margin-bottom: 26px;
    overflow: hidden;
    border-radius: 20px;
    max-height: 230px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      transition: all 0.3s ease-in;

      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  // .post__meta
  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  // .post__date
  &__date {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: normal;
    color: #0fa49b;
    margin-right: 40px;
  }

  // .post__coment
  &__coment {
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    color: #575757;
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      fill: #464646;
    }
  }

  // .post__title
  &__title {
    @include adaptiveValue("font-size", 24, 20);
    font-weight: 500;
    line-height: normal;
    color: #0e608c;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  // .post__text
  &__text {
    @include adaptiveValue("font-size", 18, 14);
    font-style: normal;
    line-height: 1.33;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
//====================================================================================================

.blog-page {
  padding-top: 250px;
  padding-bottom: 100px;

  @media (max-width: $mobile) {
    padding-top: 160px;
  }

  .post {
    @media (max-width: $mobile) {
      width: calc(100% / 2 - 12px);
      margin: unset;
    }

    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
