//====================================================================================================

.footer {
  background: $blue;
  color: #fff;
  padding: 70px 0px 0px 0px;

  // .footer__container
  &__container {
  }

  &__heading {
    font-family: PTSansNarrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: rem(32);
    line-height: 108%;
    margin-bottom: 34px;

    @media (max-width: em(1200)) {
      text-align: center;
    }
  }

  // .footer__content
  &__content {
    display: flex;
    align-items: start;
    gap: 30px;
    margin: 0 0 60px;

    @media (max-width: em(1200)) {
      flex-wrap: wrap;
    }
  }

  &__map {
    flex: 1 1 33.333%;
    max-height: 440px;

    @media (max-width: em(1200)) {
      flex: 1 1 100%;
    }

    iframe {
      max-width: 100%;
      max-height: 100%;
      border-radius: 4px;
    }
  }

  // .footer__nav
  &__nav {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: em(1200)) {
      flex: 1 1 calc(50% - 30px);
    }

    @media (max-width: 576px) {
      flex: 1 1 100%;
    }
  }

  // .footer__contacts
  &__contacts {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: em(1200)) {
      flex: 1 1 calc(50% - 30px);
    }

    @media (max-width: 576px) {
      flex: 1 1 100%;
    }

    &_list {
    }
  }

  // .footer__logo
  &__logo {
    margin: 0 0 30px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  // .footer__policy
  &__policy {
    background: $darkBlue;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 108%;
  }
}
.nav {
  @media (max-width: em(1200)) {
    padding-top: 20px;
  }
  //   &__list {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //   }
  &__item {
    display: flex;
    align-items: center;
    height: 32px;
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 108%;

    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        color: #0d6efd;

        svg {
          fill: #0d6efd;
        }
      }
    }

    &:focus-visible,
    &:active {
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
        rgb(255, 255, 255) 0px 0px 0px 3px;
    }
  }
}

.contacts {
  margin: 46px 0 0;
  @media (max-width: em(1200)) {
    padding-top: 20px;
  }

  // .contacts__item
  &__item {
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 108%;

    margin-bottom: 20px;
  }

  &__linck {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        color: #0d6efd;

        svg {
          fill: #0d6efd;
        }
      }
    }

    &:focus-visible,
    &:active {
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
        rgb(255, 255, 255) 0px 0px 0px 3px;
    }
  }

  &__icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in;
  }
}

//====================================================================================================
