//====================================================================================================

.footer {
  background: #0096c7;
  color: #fff;
  padding: 70px 0px 0px 0px;

  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo-mobile {
    display: none;
    @media (max-width: $mobile) {
      display: flex;
      margin: 0 0 40px;
      img {
        display: block;
        margin: 0 auto;
        max-height: 121px;
      }
    }
  }

  // .footer__content
  &__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 0 60px;

    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }
    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__map {
    flex: 1 1 33.333%;
    min-width: 450px;
    max-height: 450px;
    @media (max-width: $tablet) {
      flex: 1 1 100%;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }

    iframe {
      width: 100%;
      border-radius: 4px;
    }
  }

  // .footer__nav
  &__nav {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @media (max-width: $tablet) {
      flex: 1 1 calc(50% - 30px);
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    @media (max-width: $mobile) {
      flex: 1 1 calc(50% - 30px);
      justify-content: flex-start;
      align-items: center;
    }
    @media (max-width: $mobileSmall) {
      flex: 1 1 calc(40% - 30px);
      justify-content: center;
    }
  }

  // .footer__contacts
  &__contacts {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 50px 0;

    @media (max-width: $tablet) {
      flex: 1 1 calc(50% - 30px);
      align-items: center;
      justify-content: flex-start;
    }

    @media (max-width: $mobile) {
      flex: 1 1 calc(50% - 30px);
      align-items: flex-start;
    }

    @media (max-width: $mobileSmall) {
      flex: 1 1 calc(60% - 30px);
      margin: 0;
    }

    @media (max-width: 450px) {
      align-items: center;
    }
  }

  // .footer__logo
  &__logo {
    @media (max-width: $mobile) {
      display: none;
    }
    img {
      display: block;
      margin: 0 auto;
      max-height: 121px;
    }
  }

  // .footer__policy
  &__policy {
    background: #0077b6;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 108%;
  }
}
.nav {
  margin: 50px 0 50px 20px;
  @media (max-width: $tablet) {
    margin: 0 60px 50px 20px;
  }
  @media (max-width: $mobile) {
    margin: 0 0 50px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 32px;
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 108%;

    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        color: #28263c;

        svg {
          fill: #28263c;
        }
      }
    }

    &:focus-visible,
    &:active {
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
        rgb(255, 255, 255) 0px 0px 0px 3px;
    }
  }
}

.contacts {
  @media (max-width: $tablet) {
    padding: 0;
  }

  @media (max-width: $mobile) {
    margin: 0;
  }

  // .contacts__item
  &__item {
    color: #fff;
    font-family: PTSansNarrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 108%;

    margin-bottom: 20px;
  }

  &__linck {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        color: #28263c;

        svg {
          fill: #28263c;
        }
      }
    }

    &:focus-visible,
    &:active {
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px,
        rgb(255, 255, 255) 0px 0px 0px 3px;
    }
  }

  &__icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in;
  }
}

//====================================================================================================
