//====================================================================================================
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;

	padding: 26px 0px 20px;


	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__logo
	&__logo {
	}

	// .header__menu
	&__menu {
	}

	// .header__actions
	&__actions {
	}
}


.menu {

	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		display: flex;
		gap: 24px;
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

