//====================================================================================================
.offer {
   position: relative;
   padding-top: 150px;
   min-height: 100vh;

   // .offer__bg
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   // .offer__container
   &__container {
      position: relative;
      z-index: 1;
   }

   // .offer__heading
   &__heading {
      font-size: 42px;
      @include adaptiveValue("font-size", 42, 32);
      font-weight: 700;
      line-height: 1.3em;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
   }

   // .offer__calculator
   &__calculator {
   }
}

//====================================================================================================
.calculator {
   background: $sky;
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   border-radius: 20px;
   padding: 24px 16px 20px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

   &__steps {
      font-size: 28px;
      line-height: 108%;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
   }

   &__title {
      font-size: 26px;
      line-height: 108%;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
   }

   // .calculator__square
   &__square {
   }

   // .calculator__title
   &__title {
   }

   &__alerts {
      max-width: 480px;
      text-align: center;
      color: #842029;
      background-color: #f8d7da;
      padding: 1rem 1rem;
      border: 1px solid #f5c2c7;
      border-radius: 0.25rem;
      margin: 0 auto 16px auto;
      display: none;
   }

   // .calculator__rooms
   &__rooms {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 30px;
   }

   &__services {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 30px;
   }

   &__btn-next,
   &__btn-prev {
      text-transform: uppercase;
   }

   &__btn-prev {
      background: transparent;
      color: #0d6efd;
      opacity: 0.7;

      @media (any-hover: hover) {
         &:hover {
            background: transparent;
            opacity: 1;
         }
      }
   }

   &__total-price {
      font-size: 28px;
      line-height: 108%;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
   }

   &__btn-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
   }

   &__form {

      form {
         display: flex;
         flex-wrap: wrap;
         column-gap: 20px;
      }

      .input-group {
         width: calc(50% - 10px);
      }
   }
}

//====================================================================================================
.room {
   width: calc(25% - 24px);
   border: 2px solid $darkBlue;
   border-radius: 6px;
   padding: 20px;
   cursor: pointer;
   font-size: 18px;
   line-height: 110%;
   font-weight: 700;
   text-align: center;
   transition: all 0.4s ease-in;
   position: relative;

   &::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background: url(../img/icons/check.png) center center no-repeat;
      background-size: cover;
      top: 4px;
      right: 4px;
      transition: all 0.3s ease-in;
      opacity: 0;
      transform: scale(0.4);
   }

   &__img {
      width: 80%;
      margin: 0 auto;

      img {
         width: 100%;
         height: auto;
         transition: all 0.3s ease-in;
      }

      margin-bottom: 16px;
   }

   &._select {
      background: $blue;

      img {
         filter: contrast(40%);
         transform: rotateX(360deg);
      }

      &::after {
         opacity: 1;
         transform: scale(1);
      }
   }

   @media (any-hover: hover) {
      &:hover {
         background: $blue;
      }
   }
   
}

//====================================================================================================
.service {
   width: calc(20% - 16px);
   border: 2px solid $darkBlue;
   border-radius: 6px;
   padding: 20px;
   cursor: pointer;
   font-size: 16px;
   line-height: 110%;
   font-weight: 700;
   text-align: center;
   transition: all 0.4s ease-in;

   &__img {
      max-width: 64px;
      margin: 0 auto;
      margin-bottom: 12px;

      img {
         width: 100%;
         height: auto;
      }

      
   }

   &._select {
      background: $blue;
   }

   @media (any-hover: hover) {
      &:hover {
         background: $blue;
      }
   }
}
