//====================================================================================================
.offer {
  position: relative;
  padding-top: 170px;

  @media (max-width: 640px) {
    padding-top: 84px;
  }

  // .offer__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .offer__container
  &__container {
    position: relative;
    z-index: 1;
  }

  // .offer__heading
  &__heading {
    @include adaptiveValue("font-size", 55, 36);
    font-family: ArnoPro-SmbdDisplay, sans-serif;
    color: #0e608c;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
  }

  &__sub-title {
    @include adaptiveValue("font-size", 20, 16);
    font-family: ArnoPro-SmText, sans-serif;
    color: #54a497;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @media (max-width: $mobileSmall) {
      margin-bottom: 24px;
    }
  }

  // .offer__calculator
  &__calculator {
  }
}

//====================================================================================================
.calculator {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 24px 16px 20px;

  @media (max-width: $mobileSmall) {
    padding: 24px 0px 20px;
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;

    div {
      width: 16px;
      height: 16px;
      background: #45c5a6;
      opacity: 0.7;
      transition: all 0.4s ease-in;

      @media (max-width: $mobile) {
        width: 12px;
        height: 12px;
      }
    }

    div._active {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  &__title {
    font-size: 26px;
    line-height: 108%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  // .calculator__square
  &__square {
  }

  // .calculator__title
  &__title {
  }

  &__alerts {
    max-width: 480px;
    text-align: center;
    color: #842029;
    background-color: #f8d7da;
    padding: 1rem 1rem;
    border: 1px solid #f5c2c7;
    border-radius: 0.25rem;
    margin: 0 auto 16px auto;
    display: none;
  }

  // .calculator__rooms
  &__rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 16px;
  }

  &__spollers {
    margin-bottom: 20px;

    .spollers__title {
      font-family: $mainFont, sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.33;
      color: #000000;
      text-transform: uppercase;
      border: none;
      border-radius: 0;
      padding: 0.625rem 0;

      span {
        position: relative;
        display: inline-block;

        &::after {
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 50%;
          right: -48px;
          top: -5px;
          background-color: #45c5a6;
          background-image: url(../img/icons/angle-small-down.svg);
          background-position: center center;
        }
      }

      @media (max-width: $mobileSmall) {
        font-size: 16px;
        padding-right: 50px;
      }
    }

    .spollers__title::before,
    .spollers__title::after {
      background-color: transparent;
    }

    .spollers__body {
      border: none;
      padding: 0;
      padding-top: 16px;
    }
  }

  &__btn-next,
  &__btn-prev {
    @include adaptiveValue("font-size", 18, 14);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: em(396)) {
      padding: 10px 14px;
    }
  }

  &__total-price {
    font-family: $mainFont, sans-serif;
    @include adaptiveValue("font-size", 60, 40);
    line-height: normal;
    letter-spacing: normal;
    font-weight: 500;
    color: #0e608b;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 14px;
    position: relative;
    transition: all 0.3s ease-in;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    strong {
      font-size: 18px;
      font-weight: 400;
      margin-left: 8px;
      display: none;
      transition: all 0.3s ease-in;
      position: absolute;
      top: 0px;
    }
  }

  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__form-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  &__form {
    position: relative;
    .input-group {
      width: calc(50% - 10px);
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 14px;

      .input-group {
        width: 100%;
      }

      button {
        @media (max-width: $mobileSmall) {
          font-size: 14px;
        }
      }
    }
  }

  &__buttons-wrap {
    display: flex;
    gap: 20px;

    @media (max-width: $mobileSmall) {
      justify-content: space-between;
    }
  }
}

//====================================================================================================
.room {
  width: calc(20% - 16px);
  border: solid 2px #eaeaea;
  padding: 20px;
  font-family: $mainFont, sans-serif;
  cursor: pointer;
  @include adaptiveValue("font-size", 18, 14);
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: #040000;
  transition: all 0.4s ease-in;
  position: relative;

  &__img {
    margin: 0 auto;

    svg {
      width: 100%;
      height: auto;
      fill: #bfbebe;
      width: 64px;
      transition: all 0.3s ease-in;
    }

    margin-bottom: 16px;
  }

  @media (max-width: em(1024)) {
    width: calc(20% - 16px);
  }

  @media (max-width: $mobile) {
    width: calc(25% - 16px);

    &__img {
      svg {
        width: 32px;
      }
    }
  }

  @media (max-width: 640px) {
    width: calc(33.333% - 14px);
    padding: 10px;
  }

  @media (max-width: $mobileSmall) {
    width: calc(100% / 3 - 14px);
    padding: 10px;

    &__img {
      svg {
        width: 32px;
      }
    }
  }

  &._select {
    background: #0c6284;
    border: solid 2px #0c6284;
    color: #fff;

    svg {
      fill: #fff;
    }

    @media (min-width: $mobileSmall) {
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background: #0c6284;
      border: solid 2px #0c6284;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

//====================================================================================================
.service {
  width: calc(100% / 3 - 14px);
  border-radius: 20px;
  padding: 20px 20px 16px;
  cursor: pointer;
  font-family: $mainFont, sans-serif;
  @include adaptiveValue("font-size", 16, 13);
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  color: #125b7e;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: -0.7px 3.9px 32px 0 rgb(230, 244, 249);
  transition: all 0.4s ease-in;

  @media (max-width: em(894)) {
    padding: 24px 15px 20px;
  }

  @media (max-width: $mobile) {
    width: calc(100% / 2 - 10px);
    margin-bottom: 0px;
  }

  @media (max-width: $mobileSmall) {
    padding: 18px 5px 12px 5px;
  }

  svg {
    fill: #3bafa2;
    transition: all 0.3s ease-in;
    width: 100%;
    max-width: 64px;
    height: 75px;

    @media (max-width: em(618)) {
      max-width: 51px;
    }

    @media (max-width: $mobileSmall) {
      height: 46px;
    }
  }

  p {
    height: 34px;

    @media (max-width: em(354)){
      height: 46px;
    }
  }

  &__img {
    margin: 0 auto;
    // margin-bottom: 12px;
  }

  &__indicator {
    margin: 16px auto 0px auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ecf7f9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;

    @media (max-width: $mobile) {
      margin: 14px auto 0px auto;
      width: 32px;
      height: 32px;
    }

    @media (max-width: $mobileSmall) {
      margin: 10px auto 0px auto;
      // display: none;
    }

    &_chosen {
      display: none;
    }

    &_not-chosen {
      display: block;
    }
  }

  &._select {
    background: #0c6284;
    color: #fff;

    svg {
      fill: #fff;
    }

    .service__indicator {
      background: #3d819d;

      &_chosen {
        display: block;
        width: 28px;
        height: 20px;
      }

      &_not-chosen {
        display: none;
        width: 17px;
        height: 15px;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background: #0c6284;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

//====================================================================================================
.select-extras {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: em(361)) {
    gap: 10px;
  }

  // .select-extras__item
  &__item {
    width: calc(100% / 4 - 15px);
    border: solid 2px #eaeaea;
    @include adaptiveValue("padding", 10, 5);
    font-family: $mainFont, sans-serif;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: normal;
    line-height: normal;
    color: #040000;
    transition: all 0.3s ease-in;

    @media (max-width: $mobileSmall) {
      width: calc(100% / 3 - 14px);
    }

    @media (max-width: em(361)) {
      width: calc(100% / 3 - 7px);
    }

    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        color: #fff;
        background: #0c6284;
        border: solid 2px #0c6284;

        .select-extras__img {
          svg {
            fill: #ffffff;
          }
        }
      }
    }

    &._setected {
      color: #fff;
      background: #0c6284;
      border: solid 2px #0c6284;

      .select-extras__img {
        svg {
          fill: #ffffff;
        }
      }
    }
  }

  // .select-extras__img
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;

    svg {
      width: 48px;
      height: 48px;
      display: block;
      margin: 0 auto;
      fill: #bfbebe;
      transition: all 0.3s ease-in;

      @media (max-width: $mobileSmall) {
        width: 32px;
        height: 32px;
      }
    }
  }

  // .select-extras__desc
  &__desc {
    @include adaptiveValue("font-size", 16, 12);
    text-align: center;
  }
}

//====================================================================================================
.cleaning-level {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: em(334)) {
    gap: 10px;
  }

  // .cleaning-level__item
  &__item {
    width: calc(100% / 4 - 15px);
    border: 2px solid $darkBlue;
    border-radius: 6px;
    padding: 23px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in;

    @media (max-width: 620px) {
      width: calc(100% / 3 - 14px);
      padding: 18px 8px;
    }

    @media (max-width: 460px) {
      width: calc(50% - 10px);
      padding: 14px 5px;
    }

    &._select {
      color: #fff;
      background: $blue;
    }

    @media (any-hover: hover) {
      &:hover {
        background: $blue;
        color: #fff;
      }
    }
  }

  button {
    @include adaptiveValue("font-size", 16, 14);
    width: 148px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: em(356)){
      width: 130px;
      padding: 10px 20px;
    }
  }
}

.block-row {
  margin-bottom: 20px;

  // .block-row__title
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  // .block-row__desc
  &__desc {
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
  }
}

//====================================================================================================

.bedrooms {
  margin-bottom: 30px;

  // .bedrooms__title
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  // .bedrooms__block
  &__block {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 20, 10);
  }

  // .bedrooms__item
  &__item {
    width: calc(20% - 16px);
    border: solid 2px #eaeaea;
    padding: 23px 26px 23px 26px;
    @include adaptiveValue("font-size", 22, 14);
    font-family: $mainFont, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #a1a6a8;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in;

    @media (max-width: em(759)) {
      width: calc(20% - 12px);
    }

    @media (max-width: $mobile) {
      padding: 20px;
    }

    @media (max-width: $mobileSmall) {
      width: calc(20% - 10px);
    }

    @media (max-width: 374px) {
      padding: 10px 15px;
    }

    &._select {
      background: #0c6284;
      border: solid 2px #0c6284;
      color: #fff;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #0c6284;
        border: solid 2px #0c6284;
        color: #fff;
      }
    }
  }

  &__img {
    margin: 0 auto 6px auto;
    width: 48px;

    @media (max-width: $mobile) {
      width: 32px;
    }

    img {
      width: 100%;
      height: auto;
      transition: all 0.3s ease-in;
    }
  }
}
//====================================================================================================

.lawn-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  // .lawn-area__item
  &__item {
    width: calc(20% - 16px);
    border: solid 2px #eaeaea;
    padding: 10px;
    cursor: pointer;
    font-family: $mainFont, sans-serif;
    text-align: center;
    @include adaptiveValue("font-size", 18, 14);
    color: #040000;
    transition: all 0.3s ease-in;

    @media (max-width: $mobile) {
      width: calc(25% - 15px);
      padding: 5px;
    }

    @media (max-width: $mobileSmall) {
      width: calc(100% / 3 - 15px);
    }

    &._select {
      background: #0c6284;
      border: solid 2px #0c6284;
      color: #fff;

      .lawn-area__img {
        svg {
          fill: #fff;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background: #0c6284;
        border: solid 2px #0c6284;
        color: #fff;
      }
    }
  }

  // .lawn-area__img
  &__img {
    margin: 0 auto 8px auto;
    width: 48px;

    @media (max-width: $mobile) {
      width: 32px;
    }

    svg {
      fill: #bfbebe;
      width: 48px;
      width: 100%;
      transition: all 0.3s ease-in;
    }
  }
}

//====================================================================================================
.filter-title {
  font-family: $mainFont, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  margin-bottom: 30px;
}

.number-windows {
  padding-top: 20px;

  // .number-windows__titlee
  &__title {
  }

  // .number-windows__renge
  &__renge {
    padding: 20px;

    @media (max-width: $mobileSmall) {
      padding: 20px 10px;
    }
  }

  &__group-btn {
    margin-top: 40px;
  }
}

//====================================================================================================

.number-pipe {
  // .number-pipe__title
  &__title {
  }

  // .number-pipe__renge
  &__renge {
    padding: 20px;

    @media (max-width: $mobileSmall) {
      padding: 20px 10px;
    }
  }
}

//====================================================================================================
.payment-options {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  border-top: 1px solid #d1d3d2;

  // .payment-options__title
  &__title {
    font-family: $mainFont, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  // .payment-options__text
  &__text {
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
  }

  // .payment-options__variants
  &__variants {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  // .payment-options__option
  &__option {
    width: calc(25% - 15px);
    border: solid 2px rgb(234, 234, 234);
    padding: 22px 16px;
    cursor: pointer;
    font-family: $mainFont, sans-serif;
    text-align: center;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: normal;
    line-height: 1.5;
    color: #000102;
    transition: all 0.3s ease-in;

    span {
      display: block;
      margin-top: 4px;
      @include adaptiveValue("font-size", 16, 14);
      transition: all 0.3s ease-in;
      opacity: 0;
    }

    @media (max-width: $mobile) {
      width: calc(100% / 2 - 10px);
      padding: 10px 5px;
    }

    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        background: #0c6284;
        color: #fff;
        border: solid 2px #0c6284;
      }
    }

    &._setected {
      background: #0c6284;
      border: solid 2px #0c6284;
      color: #fff;
    }
  }

  &__desc {
    margin-top: 20px;
    border: solid 2px rgb(234, 234, 234);
    padding: 10px;
    display: none;

    @media (max-width:$mobileSmall){
      padding: 5px;
      border: solid 1px rgb(234, 234, 234);
    }

    p {
      font-family: $mainFont, sans-serif;
      @include adaptiveValue("font-size", 18, 14);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      text-indent: 30px;
      margin-bottom: 20px;
    }
  }
}

.payment-swith {
  opacity: 0;
}

//====================================================================================================
.flatpickr-months .flatpickr-month {
  background: $darkBlue;
  color: #fff;
  fill: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  fill: #fff;
}

.flatpickr-weekdays {
  background: $darkBlue;
  color: #fff;
}

.flatpickr-weekdaycontainer {
  span.flatpickr-weekday {
    color: #fff;
  }
}

.flatpickr-monthDropdown-months {
  option {
    color: $darkBlue;
  }
}

.flatpickr-am-pm {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

//====================================================================================================

//====================================================================================================

.switsh-btn {
  border: solid 2px #eaeaea;
  padding: 10px 25px;
  font-family: $mainFont, sans-serif;
  font-size: 16px;
  display: inline-block;
  transition: all 0.3s ease-in;
  margin-bottom: 30px;

  &._select {
    border: solid 2px #0c6284;
    background: #0c6284;
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      border: solid 2px #0c6284;
      background: $blue;
      color: #fff;
    }
  }
}

//====================================================================================================

.stripe-form {
  opacity: 0;
  input[type="submit"] {
    opacity: 0;
  }
}

//=================================================================================================

.bathrooms {
  margin-bottom: 30px;

  // .bathrooms__title
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  // .bathrooms__block
  &__block {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 20, 10);
  }

  // .bathrooms__item
  &__item {
    width: calc(20% - 16px);
    border: solid 2px #eaeaea;
    padding: 23px 26px 23px 26px;
    @include adaptiveValue("font-size", 22, 14);
    font-family: $mainFont, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #a1a6a8;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in;

    @media (max-width: em(759)) {
      width: calc(20% - 12px);
    }

    @media (max-width: $mobile) {
      padding: 20px;
    }

    @media (max-width: $mobileSmall) {
      width: calc(20% - 10px);
    }

    @media (max-width: 374px) {
      padding: 10px 15px;
    }

    &._select {
      background: #0c6284;
      border: solid 2px #0c6284;
      color: #fff;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #0c6284;
        border: solid 2px #0c6284;
        color: #fff;
      }
    }
  }

  // .bathrooms__img
  &__img {
    margin: 0 auto 6px auto;
    width: 48px;

    @media (max-width: $mobile) {
      width: 32px;
    }

    img {
      width: 100%;
      height: auto;
      transition: all 0.3s ease-in;
    }
  }
}

//=================================================================================================

.bathrooms-ar {
  margin-bottom: 30px;

  // .bathrooms-ar__title
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  // .bathrooms-ar__block
  &__block {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 20, 10);
  }

  // .bathrooms-ar__item
  &__item {
    width: calc(20% - 16px);
    border: solid 2px #eaeaea;
    padding: 23px 26px 23px 26px;
    @include adaptiveValue("font-size", 22, 14);
    font-family: $mainFont, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #a1a6a8;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in;

    @media (max-width: em(759)) {
      width: calc(20% - 12px);
    }

    @media (max-width: $mobile) {
      padding: 20px;
    }

    @media (max-width: $mobileSmall) {
      width: calc(20% - 10px);
    }

    @media (max-width: 374px) {
      padding: 10px 15px;
    }

    &._select {
      background: #0c6284;
      border: solid 2px #0c6284;
      color: #fff;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #0c6284;
        border: solid 2px #0c6284;
        color: #fff;
      }
    }
  }

  // .bathrooms-ar__img
  &__img {
    margin: 0 auto 6px auto;
    width: 48px;

    @media (max-width: $mobile) {
      width: 32px;
    }

    img {
      width: 100%;
      height: auto;
      transition: all 0.3s ease-in;
    }
  }
}
//=================================================================================================
