.poster {
  margin: 0 20px 130px 20px;
  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 76px;
    @media (max-width: $tablet) {
      padding: 0 40px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
  }
  &__content {
    max-width: 480px;
    margin: 0 0 76px 0;
    @media (max-width: $mobile) {
      margin: 0 0 56px 0;
    }
  }
  &__heading {
    margin: 61px 0 26px 0;
    font-family: GothamPro;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    @media (max-width: $tablet) {
      font-size: 24px;
      max-width: 300px;
    }
  }
  &__body {
    font-family: GothamPro;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    @media (max-width: $tablet) {
      font-size: 18px;
      max-width: 300px;
    }
  }

  &__btn {
    margin: 0 69px 0 0;
    @media (max-width: $mobile) {
      margin: 0 0 38px 0;
    }
  }
}
