.article {
  padding-top: 250px;
  padding-bottom: 100px;

  @media (max-width:$mobile){
     padding-top: 160px;
  }

  &__container {

  }

  &__heading {
    font-family: ArnoPro-SmbdSmText;
    @include adaptiveValue("font-size", 60, 42);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    text-align: center;
    color: #0c6185;
    max-width: 800px;
    margin: 0 auto 40px auto;
  }

  &__content {
    h2 {
      font-family: ArnoPro-SmbdDisplay, sans-serif;
      @include adaptiveValue("font-size", 55, 36);
      color: #0e608c;
      line-height: 0.9;
      text-align: center;
      max-width: 800px;
      margin: 30px auto;
    }

    h3 {
      font-family: ArnoPro-SmbdDisplay, sans-serif;
      @include adaptiveValue("font-size", 36, 28);
      color: #0e608c;
      line-height: normal;
      text-align: center;
      margin: 30px;
    }

    h4 {
      font-family: $mainFont, sans-serif;
      @include adaptiveValue("font-size", 24, 18);
      color: #0e608c;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      margin: 30px;
    }

    p {
      font-family: $mainFont, sans-serif;
      @include adaptiveValue("font-size", 18, 14);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      text-indent: 30px;
      margin-bottom: 20px;
    }
  
    ul {
      list-style: inside !important;
      list-style-type: disc !important;
      font-family: $mainFont, sans-serif;
      @include adaptiveValue("font-size", 18, 14);
      line-height: 30px;
      margin-bottom: 20px;
    }
  
    li {
      list-style: inside !important;
      list-style-type: disc !important;
    }
  
    figure {
      display: block;
      margin: 0 auto;
      padding: 50px 0;
      img {
        display: block;
  
        margin: 0 auto;
      }
    }
    
  }

  &__data {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: normal;
    color: #0fa49b;
    text-align: right;
  }

 

  
}
